#include "Base.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.example.dailysketch.staging
API_BASE_URL = https:/$()/daily-creative-production.up.railway.app
APP_ENVIRONMENT = staging
DESCOPE_PROJECT_ID = P3GtbG5aJKoUuefcaA8DfyMzA0nK
ANALYTICS_ENVIRONMENT = staging
LOGGING_LEVEL = info
SHOW_ENVIRONMENT_BADGE = YES

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
