#include "../Base.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.example.dailystory.dev
API_BASE_URL = http:/$()/localhost:8000
APP_ENVIRONMENT = local
DESCOPE_PROJECT_ID = replace-me
ANALYTICS_ENVIRONMENT = local
LOGGING_LEVEL = debug
SHOW_ENVIRONMENT_BADGE = YES
BRAND_NAME = Daily Story
CREATIVE_TYPE_ID = story
COMMUNITY_TITLE = Community Stories
START_ACTION_TITLE = Start Writing
REQUIRES_CAMERA = NO
DAILY_REMINDER_NOTIFICATION_ID = daily-story.daily-reminder

DEBUG_INFORMATION_FORMAT = dwarf
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG PRODUCT_STORY
SWIFT_OPTIMIZATION_LEVEL = -Onone
